@font-face {
  font-family: 'Open sans';
  src: url("../fonts/OpenSans-Bold.woff");
  font-weight: 700;
  font-style: normal;  
}

@font-face {
  font-family: 'Open sans';
  src: url("../fonts/OpenSans-Regular.woff");
  font-weight: 400;
  font-style: normal;  
}

* {
  margin:0;
  padding: 0;
  font-family: 'Open sans';
}



.header {
  min-height: 100vh;
  display: flex;
  position: relative;
  background-image: url("../images/football_767.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #0a0e34;
}

.header::after {
  content: "";
  background-color: #0a0e34;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0.9;
  top: 0;
  left: 0;
}

.container {
  
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  z-index: 2;
  margin: auto;
  text-align: center;
}

.header .container {
  padding-top: 33px;
}

.header_logo {
  fill: #ffffff;
  width: 134px;
 
  margin-left: auto;
  margin-right: auto;
}

.header_slogan {
  display: flex;
  flex-wrap: wrap;
  color: #ffffff;
  font-size: 28px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 137px;
  margin-bottom: 88px;
}

.header_slogan_second {
  margin-left: 44px;
  margin-top: 30px;
}

.buttons {
  font-size: 8px;
  margin-bottom: 84px;
 }

.download_button {
  display: flex;
  box-sizing: border-box;
  height: 35px;
  background-color: #5e3db3;
  border-radius: 17px;
  text-decoration: none;
  align-items: center;
  width: 280px;
  margin-left: auto;
  margin-right: auto;
}

.download_button:nth-child(n+2) {
  margin-top: 14px;
}

.logo_button {
  fill: #ffffff;
  width: 19px;
  height: 18px;
  display: block;
  padding-left: 82px;
}

.button_name {
  color: #ffffff;
  
  text-transform: uppercase;
  padding-left: 1em;
  margin: 0;
  display: block;
}

.button_name_label {
  margin-top: 0.5em;
  font-weight: bold;
}

.section_content {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 83px;
  padding-bottom: 55px;
}

.section_content:nth-child(n+3) {
  padding-top: 60px;
}

.person_title {
  font-size: 50px;
  font-weight: bold;
  text-transform: uppercase;
  color: #e7e7e7;
  padding-left: 20px;
  padding-top: 25px;
}

.person_img {
  max-width: 100%;
  display: flex;
  justify-content: center;
  
}

.color-grey {
  background-color: #fafafa;
}

.color-dark-grey {
  background-color: #f5f4f9;
}

.color-violet {
  background-color: #5e3db3;
}

.color-blue {
  background-color: #090a36;
}

.color-blue, .color-violet  .description {
  color: #ffffff;
}

.color-blue .section_number {
  color: #8761e0;
}

.color-violet .section_number::after {
  content: "";
  width: 15px;
  height: 4px;
  background-color: #ffffff;
  border-radius: 1px;
  display: block;
  margin-top: 3px;
}

.color-blue .section_number::after {
  content: "";
  width: 15px;
  height: 4px;
  background-color: #ffffff;
  border-radius: 1px;
  display: block;
  margin-top: 3px;
}

.section_title {
  display: flex;
}

.section_number {
  font-size: 14px;
  font-weight: bold;
}

.section_number::after {
  content: "";
  width: 15px;
  height: 4px;
  background-color: #5e3db3;
  border-radius: 1px;
  display: block;
  margin-top: 3px;
}

.section_name {
  font-size: 23px;
  color: #c1c1c1;
  text-transform: uppercase;
  font-weight: bold;
  margin-left: 9px;
}

.description {
  padding-top: 30px;
  font-size: 15px;
}

.action-item {
  position: relative;
}

.action_img {
  max-width: 100%;
  display: block;
}

.action_info {
  padding-left: 20px;
  padding-right: 20px;
}

.actions .section_number {
  color: #f5f6f7;
  display: block;
  box-sizing: border-box;
  background-color: #5e3db3;
  padding-left: 26px;
  padding-top: 26px;
  width: 70px;
  height: 70px;
  position: absolute;
  margin-top: -58px;
  left: 20px;
}

.actions .section_number::after {
  content: "";
  width: 15px;
  height: 4px;
  background-color: #8f78ca;
  border-radius: 1px;
  display: block;
  margin-top: 5px;
}

.action_title {
  color: #e7e7e7;
  font-size: 28px;
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 34px;
}

.actions .description {
  padding-bottom: 81px;
  padding-top: 28px;
}

.footer {
  position: relative;
  min-height: 100vh;
  display: flex; 
  background-image: url("../images/game_767.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #0a0e34;
}

.footer::after {
  content: "";
  background-color: #0a0e34;

  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0.9;
  top: 0;
  left: 0;
}

.footer .container {
  padding-bottom: 9px;
}

.footer_slogan {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 75px;
}

.footer_slogan_first {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 13px;
}

.footer_slogan_second {
  font-size: 14px;
  text-transform: uppercase;
  color: #9b8dc3;
}

.footer-logo {
  width: 58px;
  height: 47px;
  fill: #ffffff;
  display: block;
  border-radius: 12px;
  background-color: #5e3db3;
  padding: 13px 6px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 89px;
  margin-bottom: 58px;
}


@media (min-width: 641px) {
  .buttons {
    display: flex;
    justify-content: center;
    font-size: 14px;
  }
  .logo_button {
    width: 42px;
    height: 49px;
    padding-left: 0;
  }
  .download_button {
    width: 310px;
    height: 76px;
    border-radius: 35px;
    margin-left: 0;
    margin-right: 0;
    justify-content: center;
  }
  .button_name {
    display: flex;
    flex-direction: column;
    text-align: left;
  }
  .athlets, .players {
    position: relative;
  }
  .color-grey {
    background-color: #ffffff; 
  }
  .person_title {
    font-size: 80px;
  }
  .section_number {
    font-size: 18px;
  }
  .action_title {
    font-size: 80px;
  }
  .actions .description {
    font-size: 24px;
  }
  .actions .section_number {
    font-size: 24px;
  }
}

@media (min-width: 641px) and (max-width: 960px) {
  .header {
    background-image: url("../images/football_1280.jpg");
    background-position: center;
  }
  .header .container {
    padding-top: 37px;
  }
  .header_slogan {
    font-size: 64px;
    margin-left: 90px;
    margin-top: 180px;
  }
  
  .header_slogan_second {
    margin-left: 107px;
    margin-top: 32px;
  }
  .buttons {
    margin-top: 312px;
  }
  .download_button:nth-child(n+2) {
    margin-left: 30px;
    margin-top: 0;
  }
  .button_name {
    padding-left: 1.7em;
  }
  .actions .section_number::after {
    content: "";
    width: 25px;
    height: 5px;
    margin-top: 9px;
  }
  .section_name {
    font-size: 32px;
  }
  .person_title {
    padding-top: 85px;
    padding-bottom: 0;
    padding-left: 43%;
    padding-right: 32px;
  }
  .players .person_title {
    padding-left: 32px;
  }
  .athlets .person_img {
    position: absolute;
    
    
  }
  .players .person_img {
    position: absolute;
    
  }
  .athlets .section_content {
    padding-left: 43%;
    padding-right: 32px;
    
  }
  .section_content {
    padding-right: 43%;
    padding-left: 32px;
    padding-bottom: 40px;
    padding-top: 40px;
  }
  .color-dark-grey, .color-blue, .color-violet {
    padding-top: -20px;
  }
  .description {
    padding-top: 32px;
    font-size: 16px;
  }
  .action_info {
    padding-left: 32px;
    padding-right: 32px;
}
  .actions .section_number {
    padding-left: 45px;
    padding-top: 42px;
    width: 116px;
    height: 116px;
    margin-top: -80px;
    left: 32px;
  }
  .action_title {
    padding-top: 55px;
  }
  .footer {
    background-image: url("../images/game_1280.jpg");
  }
  .footer .container {
    padding-bottom: 20px;
  }
  .footer_slogan {
    margin-bottom: 287px;
  }
  .footer_slogan_first {
    font-size: 80px;
    margin-bottom: 28px;
  }
  .footer_slogan_second {
    font-size: 36px;
  }
  .footer-logo {
    width: 102px;
    height: 85px;
    border-radius: 25px;
    padding: 26px 12px;
    margin-top: 126px;
    margin-bottom: 83px;
  }
  
}

@media (min-width: 961px) and (max-width: 1920px) {
  .header {
    background-image: url("../images/football_1920.jpg");
    background-position: center;
  }
  .container {
    padding-left: 192px;
    padding-right: 192px;
    padding-top: 45px;
   }
  
  .header_logo {
    width: 198px;
  }

  .header_slogan {
    font-size: 90px;
    margin-top: 296px;
    margin-bottom: 223px;
  }
  .header_slogan_second {
    text-align: right;
    margin-left: auto;
    margin-top: 27px;
  }
  .buttons {
    font-size: 14px;
    margin-bottom: 109px;
  }
  .logo_button {
    width: 42px;
    height: 49px;
  }
  .download_button:nth-child(n+2) {
    margin-left: 50px;
    margin-top: 0;
  }
  .button_name {
    display: flex;
    flex-direction: column;
    text-align: left;
     padding-left: 1.5em;
  }
  .button_name_label {
    margin-top: 5px;
  }
  .person_title {
    padding-top: 116px;
    padding-bottom: 0;
    padding-right: 192px;
  }
   
  
  .athlets .person_img {
    position: absolute;
    
  }
  .players .person_img {
    position: absolute;
    
  }
  .section_name {
    font-size: 36px;
  }
  .section_number::after {
    content: "";
    width: 20px;
    height: 5px;
    margin-top: 7px;
  }
  .description {
    font-size: 20px;
  }
  .action-item {
    display: flex;
  }
  .action_img {
    width: 50vw;
    
  }
  .action-item:nth-child(even) {
    flex-direction: row-reverse;
  }
  .action_info {
    display: flex;
    padding: 0;
    width: 50vw;
    padding-top: 210px;
  }
  .action_info:nth-child(2n+1) {
    flex-direction: row-reverse;
  }
  .actions .section_number {
    display: block;
    padding-left: 70px;
    padding-top: 62px;
    width: 167px;
    height: 155px;
    left: 0;
    right: 0;
    margin: auto;
    top: 210px;
  }
  .actions .section_number::after {
    content: "";
    width: 27px;
    height: 5px;
    margin-top: 9px;
  }
  .action_content {
    padding-left: 129px;
    padding-right: 192px;
  }
  .action_content:nth-child(even) {
    padding-right: 129px;
    padding-left: 192px;
  }
  .action_title {
    padding-top: 0;
  }
  .footer {
    background-image: url("../images/game_1920.jpg");
    background-position: center;
  }
  .title_container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin-bottom: 152px;
    margin-top: 230px;
  }
  .footer-logo {
    margin: 0;
  }
  .footer_slogan {
    margin-left: 37px;
    margin-bottom: 0;
  }
  .footer .container {
    padding-bottom: 51px;
  }
  .footer .buttons {
    margin-bottom: 262px;
}
}